<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.example.edutainment2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        
        <activity
            android:name=".Start"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.example.edutainment2.START" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        
        
        <activity
            android:name=".Edutainment3Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".OperationCategory"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.example.edutainment2.OPERATIONCATEGORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Multiplication"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.example.edutainment2.MULTIPLICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Subtraction"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.example.edutainment2.SUBTRACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".Addition"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.example.edutainment2.ADDITION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.example.edutainment2.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
    </application>

</manifest>